
<form class="inputForm" *ngIf="reasonOfCancelationInput" #responsePositiveForm>
  Comment cancellation of order from: {{order.date| date}}<br>
  <textarea [(ngModel)]="reasonOfCancelation"
            name="responseString"
            type="text" placeholder="responseString"
            rows="3" style="width: 370px"></textarea><br>
  <button (click)="cancellTotally(responsePositiveForm)">Post RESPONSE</button>
</form>

<form class="inputForm" *ngIf="responsePositiveInput" #responsePositiveForm>
  Comment positive response of order from: {{order.date| date}}<br>
  <textarea [(ngModel)]="responsePositiveString"
            name="responseString"
            type="text" placeholder="responseString"
            rows="3" style="width: 370px"></textarea><br>
  <button (click)="makePositiveResponse(responsePositiveForm)">Post RESPONSE</button>
</form>

<form class="inputForm" *ngIf="responseNegativeInput" #responsePositiveForm>
  Comment negative response of order from: {{order.date| date}}<br>
  <textarea [(ngModel)]="responseNegativeString"
            name="responseString"
            type="text" placeholder="responseString"
            rows="3" style="width: 370px"></textarea><br>
  <button (click)="makeNegativeResponse(responsePositiveForm)">Post RESPONSE</button>
</form>



<!--<div *ngIf="showClientInfo" class="clientInfo">-->
  <!--NAME: <div>{{client.username}}</div><br>-->
  <!--EMAIL: <div>{{client.email}}</div><br>-->
  <!--POSITIVE RATING: <div style="color: green">{{client.clientPositiveResponses}}</div><br>-->
  <!--NEGATIVE RATING: <div style="color: red">{{client.clientNegativeResponses}}</div><br>-->
  <!--<button (click)="showResponses(restaurant, client)">Show Responses</button>-->
<!--</div>-->

<div *ngIf="showMealsOfOrder" class="mealsOfOrder">

    <h3>Info about current order: </h3>
    DATE: {{order.date | date:'medium'}} <br>
    CLIENT: {{order.client.username}} <br>
    INFORMATION: {{order.orderStatus}} <br>
    <!--<button (click)="getInfoAboutClient(order)">GET Info About CLIENT</button>-->
    <button (click)="acceptToKitchen(order)">Accept to kitchen </button>
    <button (click)="deleteOrder(order)">Delete Order</button>
    <button (click)="cancelOrder(order)">Cancel</button>
    <button (click)="positiveResponse(order)">Positive Response </button>
    <button (click)="negativeResponse(order)">Negative Response </button>
    <h5>The list of meals of order by client: {{order.client.name}}</h5>
    <table class="table table-hover" >
      <tr>
        <th >IMAGE</th>
        <th >NAME</th>
        <th >DESCRIPTION</th>
        <th >QUANTITY</th>
        <th >PRICE UAH</th>
      </tr>
      <tr *ngFor="let m of mealsOfOrder">
        <td><img [src]="'assets/images/'+m.avatar" alt=""></td>
        <td>{{m.name}}</td>
        <td>{{m.description}}</td>
        <td>{{m.quantity}}</td>
        <td>{{m.price | number: '1.2-2'}}</td>
      </tr>
    </table>

  </div>


<!--<div *ngIf="showOrderList">-->
<div>
  <div class="flex-container-5">

    <div *ngFor="let o of orders" class="flex-container1-div" >

      DATE: {{o.date | date:'medium'}} <br>
      CLIENT: {{o.client.username}} <br>
      STATUS: {{o.orderStatus}} <br>
      RESPONSES of Client
        <button (click)="showResponses(o.restaurant, o.client)" class="btn-outline-success btn-sm">
          {{o.client.clientPositiveResponses}}</button>
        <button (click)="showResponses(o.restaurant, o.client)" class="btn-outline-danger btn-sm">
          {{o.client.clientNegativeResponses}}</button><br>
      <button (click)="getOrderMeals(o)">Get Details of Order</button>
    </div><br>
  </div>
</div>
