button{
  margin: 10px;
}

.buttonBlock{
  background: grey;
  width: 580px;
  margin: 20px;
  padding: 10px;
  border: 2px solid yellow;
  border-radius: 3px;
}
.addForm{
  background: khaki;
  border: 2px solid black;
  width: 700px;
  border-radius: 4px;
  margin-left: 30px;
  padding: 20px;
}

.tableStyle{
  width: 95%;
  background: salmon;
  margin-left: 30px;
  border: 2px solid black;
}

.updateForm{
  padding: 10px;
  width: 55%;
  background: rosybrown;
  border: 2px solid black;
  border-radius: 3px;
  margin: 10px;
}
img{
  width: 45px;
  height: 45px;
  border-radius: 15px;
}

.updateImage{
  width: 450px;
  background: antiquewhite;
  border: 2px solid black;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}
