.info{
  width: 580px;
  font-family: "Simplified Arabic";
}

.bg{

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 770px;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
}

