
<div>
  <div *ngIf="showResponsesOfRestaurant" class="tableStyle">
    <h3>Responses of Restaurant: {{restaurant.name}}</h3>
    <button (click)="getBackToRestaurantList()">Get to Restaurant List</button>
    <table class="table table-bordered" >

      <tr>
        <th style="color: green">Positive</th>
        <th >Neutral</th>
        <th style="color: red">Negative</th>

      </tr>
      <tr *ngFor="let order of orders">

        <td *ngIf="order.responseFromClient.toString() === 'POSITIVE'; else elseBlock">
          date: {{order.date |  date: 'yyyy-MM-dd'}},
        description: {{order.descriptionFromClient}}</td>

        <td *ngIf="order.responseFromClient.toString() === 'NEUTRAL'; else elseBlock">
          date: {{order.date |  date: 'yyyy-MM-dd'}},
          description: {{order.descriptionFromClient}}</td>

        <td *ngIf="order.responseFromClient.toString() === 'NEGATIVE'; else elseBlock">
          date: {{order.date |  date: 'yyyy-MM-dd'}},
          description: {{order.descriptionFromClient}}</td>

      </tr>
      <ng-template #elseBlock> <td>0</td></ng-template>
    </table>
  </div>
</div>



<div>
  <div *ngIf="showResponsesOfClient" class="tableStyle">
    <h3>Responses of Client: {{client.username}}</h3>
    <button (click)="getBackToOrdersList()">Get to My Orders</button>
    <table class="table table-bordered" >

      <tr>
        <th style="color: green">Positive</th>
        <th >Neutral</th>
        <th style="color: red">Negative</th>

      </tr>
      <tr *ngFor="let order of orders">

        <td *ngIf="order.responseFromRestaurant.toString() === 'POSITIVE'; else elseBlock">
          date: {{order.date |  date: 'yyyy-MM-dd'}},
          description: {{order.descriptionFromRestaurant}}</td>

        <td *ngIf="order.responseFromRestaurant.toString() === 'NEUTRAL'; else elseBlock">
           date: {{order.date |  date: 'yyyy-MM-dd'}}
          description: {{order.descriptionFromRestaurant}}</td>

        <td *ngIf="order.responseFromRestaurant.toString() === 'NEGATIVE'; else elseBlock">
          date: {{order.date |  date: 'yyyy-MM-dd'}}
          description: {{order.descriptionFromRestaurant}}</td>

      </tr>
      <ng-template #elseBlock> <td>0</td></ng-template>
    </table>
  </div>
</div>

