button{
  margin: 5px;
}

.addForm{
  background: tan;
  border: 1px solid black;
  border-radius: 3px;
  width: 500px;
  margin-left: 20px;
}
.tableStyle{
  width: 450px;
  background: salmon;
  margin-left: 30px;
  border: 2px solid black;
}

.updateForm{
  width: 400px;
  background: rosybrown;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border-radius: 3px;
}
